html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #FAFAFA;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.inner-container {
  width: 100%;
  margin: 0 auto;
  max-width: 375px;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .inner-container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .inner-container {
    max-width: 1200px;
  }
}

button {
  display: block;
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6,
p,
ul,
button {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.header-logo {
  display: flex;
  flex-direction: row;
}
.header-logo__chocolate {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: rgb(17, 17, 17);
}
.header-logo__chocolate-span {
  font-family: "Montserrat", serif;
}
.header-logo__img {
  width: 21px;
  height: 21px;
}
.header-menu {
  width: 28px;
  height: 28px;
  background-color: transparent;
}
.header-menu__svg {
  width: 21px;
  height: 14px;
}
.header-navigation {
  display: none;
}

.menu-right {
  display: none;
}

.hero-bg {
  background-image: url("../images/hero/mobile/hero-bg-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages {
  padding: 20px;
  background-color: #1E1823;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 29px;
}
.advantages-list__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.advantages-list__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 62px;
  height: 62px;
}
.advantages-list__svg {
  fill: #FD9222;
}
.advantages-list__title {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
  color: #FFF;
  padding: 22px 0 18px;
}
.advantages-list__text {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: -0.28px;
}

.video__header {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.video__span {
  color: #FD9222;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.sellers {
  padding: 77px 30px 77px;
}
.sellers__title {
  text-align: center;
  position: static;
  width: 134px;
  height: 24px;
  display: flex;
  flex-grow: 0;
  margin: 32px 0px;
}
.sellers__span {
  color: #FD9222;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
}

.sellers-list__img {
  width: 335px;
  height: 464px;
  margin: 0px 20px;
  border-radius: 15px;
}
.sellers-list__info {
  position: static;
  width: 306px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 20px 0px;
}
.sellers-list__buy {
  background: #FD9222;
  color: #FFF;
  border-radius: 100px;
  font-size: 18px;
  padding: 14px 40px;
  gap: 14px;
  display: flex;
  align-items: flex-start;
  font-family: "Montserrat";
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}
@media screen and (min-width: 1200px) {
  .sellers-list__buy {
    padding: 12px 28px;
  }
}

.subscribe {
  padding: 62px 20px 63px 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    padding: 72px 367px 72px 366px;
  }
}
.subscribe__title {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    font-size: 24px;
    line-height: 1.16; /* 116.667% */
    letter-spacing: -0.72px;
  }
}
.subscribe__text {
  width: 467px;
  color: #FFF;
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.28px;
}
@media screen and (min-width: 1200px) {
  .subscribe__text {
    width: 326px;
  }
}
.subscribe__btn {
  display: flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 100px;
  background: #FD9222;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    padding: 12px 28px;
  }
}/*# sourceMappingURL=index.css.map */