%background-img{
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
<<<<<<< Updated upstream
%button{
    background-color: orange;
}
%list{
    position: relative;
=======
%title{
    position: center;

>>>>>>> Stashed changes
}