<div class="outer-container">
  <header class="header">
    <div class="inner-container">
      <a href="#" class="header-logo"
        ><img
          src="./src/images/icons/chocolate.svg"
          alt="logo"
          class="header-logo__img"
      /></a>

      <button class="header-menu">
        <svg class="header-menu__svg">
          <use href="./src/images/icons/symbol-defs.svg#icon-menu"></use>
        </svg>
      </button>

      <nav class="header-navigation">
        <ul class="navigation-list">
          <li class="navigation-list__item">
            <a href="#" class="navigation-list__link">Home</a>
          </li>
          <li class="navigation-list__item">
            <a href="#" class="navigation-list__link">How it's made?</a>
          </li>
          <li class="navigation-list__item">
            <a href="#" class="navigation-list__link">Our products</a>
          </li>
          <li class="navigation-list__item">
            <a href="#" class="navigation-list__link">Top sellers</a>
          </li>
          <li class="navigation-list__item">
            <a href="#" class="navigation-list__link">Chocolate is loved</a>
          </li>
        </ul>
      </nav>

      <button class="header-menu">
        <svg class="header-menu__svg">
          <use href="./src/images/icons/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </button>
      <button class="header-menu">
        <svg class="header-menu__svg">
          <use href="./src/images/icons/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </button>
    </div>
  </header>
</div>
