  <section class="hero">
    <div class="inner-container">
      <div class="hero-div">
        <p class="hero-div-title">
          Treat yourself or a loved one to <br> our finest ingredients for a moment <br>
          of pure delight!
        </p>
        <ul class="hero-list">
          <li class="hero-list__link">
            <button class="hero-list__btn1">Buy now</button>
            <button class="hero-list__btn2">How it's made?</button>
          </li>
          <li class="hero-list__link">
            <p class="hero-list__down">scroll down</p>
            <a href="#footer" class="hero-list__sroll">
              <svg class="hero-list__scroll__svg">
                <use
                  href="./src/images/icons/symbol-defs.svg#icon-arrow-down"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>