  <section class="mobile">
    <div class="inner-container">
      <button class="mobile__btn">
        <svg class="mobile__svg">
          <use href="./src/images/icons/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="mobile-list">
        <li class="mobile-list__link">Home</li>
        <li class="mobile-list__link">How it’s made?</li>
        <li class="mobile-list__link">Our products</li>
        <li class="mobile-list__link">Top sellers</li>
        <li class="mobile-list__link">Chocolate is loved</li>
      </ul>
      <button class="mobile__inst">
        <svg class="mobile__bottom__svg">
          <use href="./src/images/icons/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </button>
      <button class="mobile__twit">
        <svg class="mobile__bottom__svg">
          <use href="./src/images/icons/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </button>
    </div>
  </section>