<div class="backdrop is-hidden">
    <form class="modal">
        <button class="modal-btn">
            <svg class="modal-btn__svg">
                <use href="./images/icons/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <h1 class="modal__title">thank you!</h1>
        <p class="modal-text">
            We are glad that you ordered our chocolate and we are giving you a 20% discount on all our products.
        </p>
        <img src="./images/sellers/pop-up/chocolate-pop-up.png" alt="chocolate" class="modal__img">
    </form>
</div>