<div class="backdrop">
<form class="modal">
    <button type="button" class="modal__btn-close" data-modal-close>
        <svg class="modal__svg-close">
        <use href=""></use>
      </svg></button>
    <img src="./images/subscribe/subscribe-btn/choc-subscribe.jpg" class="modal__img">
    <h2 class="modal__title">EXPLORE OUR <br> <span class="modal__title--orange">NEW CHOCOLATE</span> FIRST!</h2>
    <input type="email" class="modal__input" required="" placeholder="Enter your email">
    <button type="button" class="modal__submit">Submit</button>
</form>
</div>