<div class="backdrop is-hidden" data-modal>
    <form class="review-modal">
        <button class="review-modal__close" data-modal-close>
            <svg class="review-modal__svg">
                <use href="./images/icons/symbol-defs.svg"></use>
              </svg>
        </button>
        <h2 class="review-modal__title">LEAVE A REVIEW ABOUT 
            <span class="modal-review__title">OUR CHOCOLATE</span>            
        </h2>
        <ul class="modal-list">
            <li class="modal-list__item">
                <label class="modal-list__label">
                    <input type="text" class="modal-list__input" placeholder="Name" cols="22" rows="1" required />
                </label>
            </li>
            <li class="modal-list__item">
                <label class="modal-list__label">
                    <input type="tel" class="modal-list__input" placeholder="Email" cols="22" rows="1" required />
                </label>
            </li>
            <li class="modal-list__item">
                <label class="modal-list__label">
                    <img class="modal-list__img" src="./images/icons/ukraine-flag.png">
                    <p class="modal-list__number">+380</p>
                    <input type="email" class="modal-list__input" cols=22" rows="1" placeholder="Phone Number" required />
                </label>
            </li>
            <li class="modal-list__item">
                <label class="modal-list__label">
                    <textarea class="modal-list__textarea" cols="30" rows="10" placeholder="Enter text"></textarea>
                </label>
            </li>
        </ul>
        <button type="submit" class="hero-modal__submit">Send</button>
    </form>
</div>