<section>
    <title>Our pRODUCTS</title>
    <ul>
        <li>
            <img src="../images/products/card1/dark-chocolate.jpg">
            <h2>orange</h2>
            <p>Dark chocolate</p>
            <button>45 UAH</button>
        </li>
        <li>
            <img src="../images/products/card1/milk-chocolate.jpg">
            <h2>APPLE&CRANBERRY</h2>
            <p>Milk chocolate</p>
            <button>50 UAH</button>
        </li>
        <li>
            <img src="../images/products/card1/lime-chocolate.jpg">
            <h2>lime&sea salt</h2>
            <p>Dark chocolate</p>
            <button>66 UAH</button>
        </li>
        <li>
            <img src="../images/products/card1/pine-chocolate.jpg">
            <h2>pineapple</h2>
            <p>Dark chocolate</p>
            <button>54 UAH</button>
        </li>
    </ul>
    <img src="../images/"
</section>