<section class="sellers" data-aos="fade-down">
    <div class="inner-container">
      <h2 class="sellers"><span class="Sellers__span">Top</span>Sellers</h2>
      <div class="carousel-container">
        <div class="carousel-desk">
          <ul class="carousel-desk-list">
            <li class="carousel-desk-list__item">
              <img class="carousel__img" src="./images/sellers/desktop/choc-coffe-desk.jpg" alt="nuts">
            </li>
            <li class="carousel-desk-list__item">
              <img class="carousel__img" src="./images/sellers/desktop/choc-filling-desk.jpg" alt="nuts and chocolate">
            </li>
            <li class="carousel-desk-list__item">
              <img class="carousel__img" src="./images/sellers/desktop/choc-column-desk.jpg" alt="chocolade">
            </li>
          </ul>
        </div>
        <p class="info">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
        <button class="buy">Buy now</button>
      </div>
    </div>
</section>