<section class="sellers" data-aos="fade-down" id="sellers">
    <div class="inner-container">
      <h2 class="sellers-title"><span class="sellers-title__orange">Top</span>Sellers</h2>
      <div class="carousel-container">
          <ul class="sellers-list">
            <li class="selers-list__item">
              <picture>
                <source srcset="./images/sellers/desktop/choc-coffe-desk.jpg 1x, ./images/sellers/desktop/2x/choc-coffe-desk2x.jpg 2x" media="(min-width:1200px)">
                <source srcset="./images/sellers/tablet/choc-coffe-tabl.jpg 2x" media="(min-width:768px)">
                <source srcset="./images/sellers/mobile/choc-coffe-mobile.jpg 2x" media="(max-width:767px)">
                <img class="sellers-list__img" src="./images/sellers/tablet/choc-coffe-tabl.jpg" alt="chocolate-1">
              </picture>
              <p class="sellers__info">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            </li>
            <li class="selers-list__item">
              <picture>
                <source srcset="./images/sellers/desktop/choc-filling-desk.jpg 1x, ./images/sellers/desktop/2x/choc-filling-desk2x.jpg 2x" media="(min-width:1200px)">
                <source srcset="./images/sellers/tablet/choc-filling-tabl.jpg 2x" media="(min-width:768px)">
                <source srcset="./images/sellers/mobile/choc-filling-mobile.jpg 2x" media="(max-width:767px)">
                <img class="sellers-list__img" src="./images/sellers/tablet/choc-coffe-tabl.jpg" alt="chocolate-2">
              </picture>
              <picture>
                <source srcset="./images/sellers/desktop/choc-column-desk.jpg 1x, ./images/sellers/desktop/2x/choc-column-desk2x.jpg 2x" media="(min-width:1200px)">
                <img class="sellers-list__img" src="./images/sellers/tablet/choc-coffe-tabl.jpg" alt="chocolate-3">
              </picture>  
              <button class="sellers-list__buy" type="button">Buy now</button>
            </li>            
          </ul>
      </div>
    </div>
</section>