<section class="secrets" data-aos="fade-down">
    <div class="inner-container">
      <h2 class="secrets__title">Top Sellers</h2>
      <div class="carousel-container">
        <div class="carousel-desk">
          <ul class="carousel-desk-list">
            <li class="carousel-desk-list__item">
              <img class="carousel__img" src="../images/sellers/desktop/choc-coffe-desk.jpg" srcset="" alt="nuts">
            </li>
            <li class="carousel-desk-list__item">
              <img class="carousel__img" src="../images/sellers/desktop/choc-filling-desk.jpg" srcset="" alt="nuts and chocolate">
            </li>
            <li class="carousel-desk-list__item">
              <img class="carousel__img" src="../images/sellers/desktop/choc-column-desk.jpg" srcset="" alt="chocolade">
            </li>
          </ul>
        </div>
        <p class="info">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</h1>
        <button class="buy">Buy now</button>
      </div>
    </div>
</section>