<section class="video">
    <h2 class="video__header">how it's made?</h2>
    <div class="video-div">

    <img src="../images/video/desktop/made-desktop@1x.jpg" alt="content-pic" class="video-div__bg"
                          srcset="" />
        
        <div class="video-play">
            <svg class="video-play__svg">
                <use href="../images/"></use>
            </svg>
        </div>
        <h2 class="video-title">Try  our chocolates today and discover the perfect balance of flavor</h2>
    <ul class="video-list">
        <li class="video-list__item">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
        <li class="video-list__item">At the same time, prepare a water bath. Melt the butter on it.</li>
        <li class="video-list__item">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
        <li class="video-list__item">Heat the mixture over low heat, letting it barely boil.</li>
        <li class="video-list__item">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
    </ul>
</section>