.footer, .inner-container {
    
    &__title {
        font-family: 'font-family';
        font-weight: 500;
        font-size: 24px;
        line-height: 117%;
        letter-spacing: -0.02em;
        color: getcolor ('white-color');
    }
    
}