.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    &-logo{
        display: flex;
        flex-direction: row;
        &__chocolate{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family:'Montserrat', sans-serif;
            @include fonts($font-weight:700, $line-height:18px);
            color: rgba(17, 17, 17);
            &-span{
                font-family:'Montserrat',serif;
            }
        }

        &__img{
            margin-left: 4px;
            width: 21px;
            height: 21px;
        }
    }

    &-menu{
        width: 28px;
        height: 28px;
        background-color: transparent;
        &__svg{
            width: 21px;
            height: 14px;
        }
    }


    &-navigation{
        display: none;
    }
}

.menu-right{
    display: none;
}