.hero{
    &-bg{
        background-image: url('../images/hero/mobile/hero-bg-mobile.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}