.backdrop2 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: getcolor('black-color');
}

.modal-buy {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    width: 311px;
    border-radius: 15px;
    overflow: hidden;
    background-color: getcolor('white-color');
    padding: 48px 48px 48px 48px;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    @media screen and (min-width: 768px) {
        width: 609px;
        padding: 48px;

    }

    @media screen and (min-width: 1200px) {
        height: 800px;
    }

    &__close {
        position: absolute;
        top: -30px;
        right: -30px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    &__svg {
        width: 15px;
        height: 15px;

        @media screen and (min-width: 768px) {
            width: 20px;
            height: 20px;
        }
    }

    &__title {
        color: getcolor('white-color');
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
        text-align: center;

        @media screen and (min-width: 768px) {
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.72px;
        }

        &--orange {
            color: getcolor('orange-color');
        }
    }

    &__submit {
        padding: 12px 28px;
        border-radius: 100px;
        background: getcolor('orange-color');
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 18px;
        border: none;
        color: getcolor('white-color');

        @media screen and (min-width: 768px) {
            padding: 14px 40px;
        }
    }

}

.modal-buy-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 40px;

    &__item {
        padding: 32px 32px 28px 32px;
        padding-bottom: 10px;
        width: 210px;
        height: 220px;
        border-radius: 15px;
        border: 1px solid getcolor('black-color');
        background-color: getcolor('white-color');
        margin-right: 20px;

        @media screen and (min-width: 768px) {
            padding: 24px 20px 18px 20px;
            width: 160px;
            height: 190px;
            margin-right: 16px;
        }
    }

    &__label {
        color: getcolor('white-color');
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 116.667%;
        letter-spacing: -0.24px;
        margin-bottom: 8px;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 128.571%;
            letter-spacing: -0.28px;
        }
    }

    &__inputfirst {
        border-radius: 8px;
        border: 1.5px solid getcolor('black-color');
        width: 100%;
        padding: 14px 18px;

        &:active,
        &:focus {
            border: 2px solid getcolor('orange-color');
        }

        &::placeholder {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.28px;
            color: getcolor('black-color');

            @media screen and (min-width: 768px) {
                font-size: 18px;
                letter-spacing: -0.36px;
            }
        }

        @media screen and (min-width: 768px) {
            border-radius: 13px;
            border: 1.5px solid getcolor('black-color');
            padding: 22px 24px;
            margin-right: 20px;
            width: 246px;

        }
    }

    &__inputsecond {
        display: block;
        border-radius: 8px;
        border: 1.5px solid getcolor('black-color');
        width: 100%;
        padding: 14px 18px;
        margin-top: 14px;

        &:active,
        &:focus {
            border: 2px solid getcolor('orange-color');
        }

        &::placeholder {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.28px;
            color: rgba(64, 64, 64, 0.3);

            @media screen and (min-width: 768px) {
                font-size: 18px;
                letter-spacing: -0.36px;
            }
        }

        @media screen and (min-width: 768px) {
            border-radius: 13px;
            border: 1.5px solid getcolor('black-color');
            padding: 22px 24px;
            margin-right: 20px;
            width: 246px;
            margin-top: 25px;
        }

    }

    &__text {
        color: getcolor('white-color');
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.16;
        letter-spacing: -0.24px;
        margin-top: 18px;
        margin-bottom: 8px;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.28;
            letter-spacing: -0.28px;
            margin-top: 21px;
        }
    }

    &__input {
        border-radius: 8px;
        border: 1.5px solid getcolor('black-color');
        width: 100%;
        padding: 14px 18px;

        &:active,
        &:focus {
            border: 2px solid getcolor('orange-color');
        }

        &::placeholder {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.28px;
            color: getcolor('black-color');

            @media screen and (min-width: 768px) {
                font-size: 18px;
                letter-spacing: -0.36px;
            }
        }

    }

    &__submit {
        position: absolute;
        width: 32px;
        height: 21px;
        bottom: 0;
        right: 14px;

        @media screen and (min-width: 768px) {
            width: 44px;
            height: 30px;
            right: 24px;
            bottom: -4px;
        }
    }

    &__textarea {
        border: 1.5px solid getcolor('black-color');
        width: 100%;
        padding: 14px 18px 60px 18px;
        border-radius: 8px;

        &:active,
        &:focus {
            border: 2px solid getcolor('orange-color');
        }

        &::placeholder {
            color: getcolor('black-color');
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.28px;

            @media screen and (min-width: 768px) {
                font-size: 18px;
                letter-spacing: -0.36px;
            }
        }

        @media screen and (min-width: 768px) {
            width: 513px;
            padding: 22px 24px 93px 24px;
            border-radius: 13px;
        }
    }

}