.backdrop-feedback {
    @extend %center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 50%);
    z-index: 99;
}

.modal-feedback {
    position: relative;
    padding: 84px 24px 170px 68px;
    z-index: 100;
    max-width: 516px;
    max-height: 414px;
    border-radius: 15px;
    background-color: getcolor('orange-color');
    @media screen and (min-width:768px){
        max-width: 516px;
        max-height: 414px;
        padding: 154px 44px 154px 163px;
    }
    &__title {
        color: getcolor('white-color');
        text-transform: uppercase;
        font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: -0.28px;
margin-bottom: 8px;
max-width: 229px;
@media screen and (min-width:768px){
    font-size: 24px;
    line-height: 28px;
    max-width: 276px;
}   
    }
    &__text {
        color: getcolor('white-color');
        @include fonts($letter-spacing: -0.28px);
        max-width: 166px;
        @media screen and (min-width:768px){
            max-width: 309px;
            @include fonts(18px);
        }
    }
    &__img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 243px;
        height: 205px;
        border-bottom-left-radius:14px;
    }
}   

.modal-feedback-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: getcolor('hover-color');
    width: 28px;
    height: 28px;
    padding: 10px;
    border-radius: 50%;
    @media screen and (min-width:768px){
        width: 38px;
        height: 38px;
        top: 24px;
        right: 26px;
    }
    &__svg {
        fill: getcolor('orange-color');
        @extend %center;
        width: 11px;
        height: 11px;
    }
}