.sellers {
    padding: 77px 0 77px;

    @media screen and (min-width:768px) {
        padding: 106px 0 105px;
    }

    @media screen and (min-width:1200px) {
        padding: 133px 33px 133px;
    }


    &__title {
        color: getcolor('black-color');
        text-align: center;
        margin-bottom: 32px;
        @include fonts(20px, 600, 1.2, normal, -0.03em);
        text-transform: uppercase;

        @media screen and (min-width:768px) {
            font-size: 24px;
            margin-bottom: 50px;
            line-height: 1.16;
            letter-spacing: -0.72px;

        }

        &--top {
            color: getcolor('orange-color');
        }
    }
}


.sellers-list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 16px;
    }

    &__item {
        &:nth-child(1) {
            @media screen and (min-width: 1200px) {
                max-width: 407px;
            }
        }

        &:nth-child(2) {
            @media screen and (min-width: 1200px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                column-gap: 16px;
            }
        }
    }

    &__img {
        margin-bottom: 23px;
        width: 335px;
        height: 464px;
        border-radius: 15px;

        @media screen and (min-width:768px) {
            min-width: 344px;
            margin-bottom: 32px;
        }

        @media screen and (min-width:1200px) {
            min-width: 368px;
        }

        &--hidden {
            display: none;

            @media screen and (min-width:1200px) {
                display: inline;
            }
        }
    }

    &__info {
        max-width: 290px;
        @include fonts(14px, 400, 1.29, normal);

        @media screen and (min-width: 768px) {
            max-width: 306px;
        }

        @media screen and (min-width: 1200px) {
            max-width: 407px;
        }
    }

    &__buy {
        margin: 0 auto;
        border-radius: 100px;
        color: getcolor('white-color');
        background-color: getcolor('orange-color');
        border: none;
        width: 120px;
        height: 41px;
        @include fonts(18px, 600, 1.29, normal);

        @media screen and (min-width: 768px) {
            width: 162px;
            height: 50px;
            padding-right: 40px;
            padding-left: 40px;
        }

        @media screen and (min-width: 1200px) {
            margin: 0 0 0 auto;
        }
    }
}