.sellers {
    padding: 77px 30px 77px;

    @media screen and (min-width:768px) {
        padding: 106px 32px 105px;
    }

    @media screen and (min-width:1200px) {
        padding: 133px 33px 133px;
    }


    &__title {
        color: getcolor('black-color');
        text-align: center;
        margin-bottom: 32px;
        @include fonts(20px, 600, 1.2, normal, -0.03em);
        text-transform: uppercase;

        @media screen and (min-width:768px) {
            font-size: 24px;
            margin-bottom: 50px;
            line-height: 1.16;
            letter-spacing: -0.72px;

        }

        &--top {
            color: getcolor('orange-color');
        }
    }
}


.sellers-list {
    display: flex;

    &__item {
        margin-right: auto;
        margin-left: auto;

        &:nth-child(2) {
            display: none;
        }

        &:last-child {
            display: none;
            margin-right: 0;
        }

        @media screen and (min-width: 768px) {
            margin-right: 16px;

            &:nth-child(2) {
                display: flex;
            }
        }

        @media screen and (min-width: 1200px) {
            &:last-child {
                display: flex;
                margin-right: 0;
            }
        }
    }

    &__img {
        margin: 0 auto 23px;
        width: 100%;
        height: 464px;
        margin: 0px 20px;
        border-radius: 15px;

        @media screen and (min-width:768px) {
            width: 344px;
        }

        @media screen and (min-width:1200px) {
            width: 368px;
        }
    }

    &__info {
        flex-shrink: 0;
        margin-bottom: 32px;
        max-width: 290px;
        @include fonts(14px, 400, 1.29, normal);

        @media screen and (min-width: 375px) {
            max-width: 306px;
        }

        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }

        @media screen and (min-width: 1200px) {
            max-width: 407px;
        }
    }

    &__buy {
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        border-radius: 100px;
        background: getcolor('orange-color');
        border: none;
        width: 120px;
        height: 41px;

        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            width: 162px;
            height: 50px;
            padding-right: 40px;
            padding-left: 40px;
        }

        @media screen and (min-width: 1200px) {
            margin-left: auto;
        }
    }
}