.sellers {
    padding: 77px 30px 77px;

    

    &__title {
        margin: 0 auto 37px;
        text-align: center;
        width: 134px;
        height: 24px;
        display: flex;
        margin: 32px 0px;

        
    }

    &__span {
        color: #FD9222;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;

        
    }
}


.sellers-list {
    &__img {
        margin: 0 auto 23px;
        width: 335px;
        height: 464px;
        margin: 0px 20px;
        border-radius: 15px;

        
    }

    &__info {
        margin: 0 auto 32px;
        width: 306px;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px;
        margin: 20px 0px;

        
    }

    &__buy {
        margin: 0 auto 72px;
        background-color:getcolor('orange-color');
        color:getcolor('white-color');
        border-radius: 100px;
        font-size: 18px;
        padding: 14px 40px;
        gap: 14px;
        align-items: flex-start;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        line-height: normal;
        font-weight: 600;

        
    }
}