.video .inner-container {
    padding: 0 20px 72px;
}

.video__title {
    margin-bottom: 32px;
    color: getcolor('$black-color');
    text-transform: uppercase;
    text-align: center;
    @include fonts(20px, 600px, 1.2, normal, -0.03em);
    &__orange {
        color: getcolor('orange-color');
    }
    @media screen and (min-width: 768px) {
        @include fonts(24px, 600px, 1.17, normal, -0.03em);
    }
    
    }
    
    .video-box {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .video-div {
    position: relative;
    width: 335px;
    height: 500px;
    &__bg {
        border-radius: 15px;
    }
    }
    
    .video-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
    }

    .video-info {
        border-radius: 15px;
        background-color: getcolor('white-color');
        padding: 20px 16px;
        &__title {
        margin-bottom: 20px;
        color: getcolor('black-color');
        @include fonts(18px, 600, 1.33);
        @media screen and (min-width: 768px) {
            @include fonts(24px, 600px, 1.17, normal, -0.03em);
        }
        @media screen and (min-width: 1200px) {
            @include fonts(18px, 600px, 1.33, normal, -0.03em);
        }
        }
        
    }
    
.video-list {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-left: 16px;

    &__text {
        color: getcolor('black-color');
        @include fonts(14px, 400, 1.2, normal, -0.02em);
    }
}
